<h3>Timeline</h3>
 <li> A mishmash of things including various <a href="https://github.com/drivechain-project/docs">crypto</a> projects and creating a <a href="https://bradfieldcs.com/">better education system</a> for software engineers, 2018-2019</li>
 <li> Building BI infrastructure for Google Fiber, 2016-2017</li>
 <li> Improving Google people operations processes, 2014-2015</li>
 <li> Making digital textbooks for American Civics education, 2012-2013</li>
 <li> Science, Technology, and International Affairs at Georgetown University, 2008-2012</li>