 <li> A mishmash of things including building <a href="http://parallelforecast.com">internet scale forecasting platforms</a>, working on <a href="http://ought.org/">factored cognition experiments</a>, and supporting a <a href="https://bradfieldcs.com/">school for computer science</a>, 2018-2020</li>
 <li> Building BI infrastructure for Google Fiber, 2016-2017</li>
 <li> Improving Google people operation processes, 2014-2015</li>
 <li> Making digital textbooks for American Civics education, 2012-2013</li>
 <li> Science, Technology, and International Affairs at Georgetown University, 2008-2012</li>