---

---

@import "minima";

$base-font-family: "Times New Roman", Times, serif;


.post-content h2 {
    font-size: 25px;
}

.post-list {
    margin-left: 20px;
}
.post-list li {
    margin-bottom: 5px;
}

.more_posts {
    text-align: right;
}

aside {
    display: inline;
    position: absolute;
    right: 0;
}

.annotation-button {
    display: inline;
    position: absolute;
    right: 30%;   
}

h1,.post-title {
    font-size: 1.17em;
    font-size: 28px;
}

h2 {
    font-size: 25px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
