---

---

@import "minima";

.post-content h2 {
    font-size: 25px;
}

.post-list {
    margin-left: 20px;
}
.post-list li {
    margin-bottom: 5px;
}

.more_posts {
    text-align: right;
}

aside {
    display: inline;
    position: absolute;
    right: 0;
}

.annotation-button {
    display: inline;
    position: absolute;
    right: 30%;   
}

h1,.post-title {
    font-size: 1.17em;
    font-size: 28px;
}

h2 {
    font-size: 25px;
}

